# The Bootstrap

In [308]:
from sklearn.utils import resample
import pandas as pd

In [309]:
loans_income = pd.read_csv("../data/loans_income.csv")
loans_income

            x
0       67000
1       52000
2      100000
3       78762
4       37041
...       ...
49995   40000
49996   54000
49997   50000
49998   82000
49999   70000

[50000 rows x 1 columns]

In [310]:
results_bootstrap = []
results= []

sample_from_income = loans_income.sample(150)

for _ in range(1000):
    sample_bootstrap = resample(sample_from_income)
    sample = loans_income.sample(150)
    results.append(sample["x"].mean())
    results_bootstrap.append(sample_bootstrap["x"].mean())

res_df = pd.Series(results_bootstrap)
res_df_real = pd.Series(results)

In [311]:
print(f"Original mean: {loans_income["x"].mean()}")
print(f"Real sampling mean: {res_df_real.mean()}")
print(f"Bootstrap method mean {res_df.mean()}")
print(f"Bias: {res_df.mean()- loans_income["x"].mean()}")
print(f"Bootstrapped Std. Error: {res_df.std()}")
print(f"Real Std. Error: {res_df_real.std()}")

Original mean: 68760.51844
Real sampling mean: 68744.87462666667
Bootstrap method mean 67070.45439333333
Bias: -1690.0640466666664
Bootstrapped Std. Error: 2838.6515512136853
Real Std. Error: 2666.88312428832